In [4]:
import pandas as pd
import numpy as np

In [35]:
data_raw = pd.read_csv('data.csv')
data = data_raw.copy(deep = True)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   URLs      4009 non-null   object
 1   Headline  4009 non-null   object
 2   Body      3988 non-null   object
 3   Label     4009 non-null   int64
dtypes: int64(1), object(3)
memory usage: 125.4+ KB

In [37]:
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3988 entries, 0 to 4008
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   URLs      3988 non-null   object
 1   Headline  3988 non-null   object
 2   Body      3988 non-null   object
 3   Label     3988 non-null   int64
dtypes: int64(1), object(3)
memory usage: 155.8+ KB

### Sentiment Feature Extraction 

#TODO: Try dl

In [41]:
import nltk.data
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk import sentiment
from nltk import word_tokenize

# nltk.download('vader_lexicon')
# nltk.download('punkt')

def sentiment_score(text):
    score_compound = []
    sid = SentimentIntensityAnalyzer()
    tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')
#     try:
    sentences = tokenizer.tokenize(text)

    for sentence in sentences:
            scores = sid.polarity_scores(sentence)
            score_compound.append(scores['compound'])

    return np.mean(score_compound)
#     except:
#         print(text)
#         return 0

In [42]:
data['sentiment'] = data.Body.apply(sentiment_score)

In [40]:
data.head(5)

,URLs,Headline,Body,Label,sentiment
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1,-0.055431
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1,0.173771
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1,-0.023429
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1,0.231567
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1,-0.318200

### Subjectivity Feature Extraction

In [51]:
from textblob import TextBlob

def subjectivity_score(text):
    return TextBlob(text).sentiment[1]

In [52]:
data['sentiment'] = data.Body.apply(subjectivity_score)

### Talktiveness Feature Extration

In [65]:
def num_sentences(text):
    
    return len(text.split('.'))

def avg_num_words(text):
    num_sentence = num_sentences(text)
    return round(len(text)/num_sentence, 2)

In [68]:
data['num_sent'] = data.Body.apply(num_sentences)
data['avg_num_words'] = data.Body.apply(avg_num_words)

In [69]:
data.head(5)

,URLs,Headline,Body,Label,sentiment,num_sent,avg_num_words
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1,0.457860,52,123.31
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1,0.391543,23,144.57
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1,0.344620,88,74.77
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1,0.377551,4,157.50
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1,0.457778,2,106.50